.gp__carousel-container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 0;
    flex-direction: column;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
.gp__carousel {
    display: inline-flex;
    padding: 0.391px 0px 58.381px 0px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40.426px;
    margin-top: -40px;
}
  
.gp__carousel img {
    border-radius: 3px;
}

.gp__carousel-container::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }
  

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
}

.gp__concave-top {
    padding: 20px 0px;
    background-color: transparent;
    clip-path: polygon(49% 12%, 72% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 24% 9%);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gp__concave-bottom {
    padding: 20px 0px;
    background-color: transparent;
    clip-path: polygon(100% 0, 100% 100%, 83% 92%, 65% 88%, 46% 88%, 29% 89%, 14% 92%, 0 100%, 0 0);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .gp__ellipse1 {
    position: relative;
    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    z-index: 10;
} */

/* .gp__ellipse2 {
    border-radius: 100% 100% 0 0;
    background-color: #070707;

    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    z-index: 10;
    margin-top: -100px;
} */
